body{color: beige;
background-color: black;
text-align: left;}


menu{justify-content: left;
    display: flex;
    align-items: left;
    height: 150px; width: 120 px;
}

button{
    background-color: black;
    color: beige;
    height: 50px; width: 120px;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 120px;
    width: 150px;

}


main{
align-content: center;
}


h1{
align-content: center;
}

